<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WMS_Project_TM_Store_IT.Properties.Settings.WMS_Project_TM_Store_ITConnectionString"
            connectionString="Data Source=RICKY-PC\SQLEXPRESS;Initial Catalog=WMS_Project_TM_Store_IT;Persist Security Info=True;User ID=sa;Password=19870630"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>